.jobitem{
    width: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
   border-radius: 5px;
}
.jobinfo{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 6px;
}
.newlabel{
    background-color: hsl(180, 29%, 50%);
    color: white;
    width: 40px;
    display: inline-flex;
    border-radius: 20px;
    justify-content: center;
    height: 20px;
}
.firstrowinfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
hr{
    width:1px;
    height: 1px;
    border-radius: 50%;
    background-color:  black;
}
.lastrowinfo{
    color: hsl(180, 8%, 52%);
    display: flex;
    gap: 10px;
    width: 250px;
    font-size: 13px;
    font-weight: bold;

}
.position{
    font-weight: bolder;
}
.featuredlabel{
    background-color: hsl(180, 14%, 20%);
    color: white;
    width: 70px;
    display: inline-flex;
    border-radius: 20px;
    justify-content: center;
    height: 20px;
    padding-top: 2px;
}
.companylabel{
    color:  hsl(180, 29%, 50%);
    font-weight: bold;
}
.buttons{
display: flex;
gap: 10px;
margin-left: auto;
flex-wrap: wrap;
justify-content: end;
}
.buttons>button{
    border: none;
    background-color: hsl(180, 52%, 96%);
    padding: 6px;
    font-weight: bold;
    color: hsl(180, 29%, 50%);
}
@media screen and (max-width: 700px){

    .jobitem{
        align-items: start;
        flex-direction:column ;
        position: relative;
    }
    #photo{
        height: 40px;
        width: 40px;
        position: absolute;
        top:-25px;
    }
    .jobinfo{
        margin-top: 20px;
        gap: 10px;
        width: 100%;
    }
.buttons{
    border-top: 1px solid gray;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    justify-content: start;
}
.buttons>button{
height: 50%;
}
}